<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<contextname>logback</contextname>

	    <property name="LOGS" value="./logs" />
	    
	    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
	    	<encoder>
		        <pattern>%magenta(%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Jakarta}) [%boldGreen(%thread)] %highlight(%-5level) %cyan(%logger{36}.%M) %boldGreen([%file: %line]) %white(%msg%n)</pattern>
			</encoder>
		</appender>  
	
	    <appender name="RollingFile"  class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${LOGS}/bit-mitra/logger.log</file>
			<encoder>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Jakarta} [%thread] %-5level %logger.%M [%file: %line] - %msg%n</pattern>
			</encoder>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<!-- rollover daily and when the file reaches 10 MegaBytes -->
				<fileNamePattern>${LOGS}/bit-mitra/archived/logger-%d{yyyy-MM-dd, Asia/Jakarta}-%i.log</fileNamePattern>
				<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFileNamingAndTriggeringPolicy">
					<maxFileSize>10MB</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
			</rollingPolicy>
		</appender>
	    <!-- LOG everything at INFO level -->
	    <root level="INFO">
	        <appender-ref ref="Console" />
	    </root>
	    <!-- LOG only ERROR level -->
	    <root level="ERROR">
	    	<appender-ref ref="RollingFile" />
	    	<appender-ref ref="Console" />
	    </root>
	    <!-- LOG "com.bit*" at TRACE level -->
	    <logger name="org.apache.kafka" level="INFO" additivity="false">
	    	<appender-ref ref="RollingFile" />
	        <appender-ref ref="Console" />
	    </logger>
	    <logger name="org.springframework.cloud" level="INFO" additivity="false">
	    	<appender-ref ref="RollingFile" />
	        <appender-ref ref="Console" />
	    </logger>
		<logger name="org.springframework.security" level="INFO" additivity="false">
			<appender-ref ref="RollingFile" />
			<appender-ref ref="Console" />
		</logger>
	    <logger name="net.ttddyy.dsproxy.listener" level="DEBUG" additivity="false">
	    	<appender-ref ref="RollingFile" />
	        <appender-ref ref="Console" />
	    </logger>
	    <logger name="com.bit.microservices" level="DEBUG" additivity="false">
	    	<appender-ref ref="RollingFile" />
	        <appender-ref ref="Console" />
	    </logger>

</configuration>